.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.login-form {
  width: 300px;
  height: 350px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(124, 137, 203);
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.login-button {
  background-color: #62b0c6;
  color: #fff;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}